

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo go trip.PNG') }}" type="">

  <title> GoTrip </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <script>
    function checkPasswords() {
      var pwd = document.getElementById("pwd");
      var vpwd = document.getElementById("vpwd");

      if (pwd.value !== vpwd.value) {
        alert("Les mots de passe ne correspondent pas.");
        return false;
      } else {
        return true;
      }
    }
    function checkPasswords() {
            const pwd = document.getElementById('pwd');
            const vpwd = document.getElementById('vpwd');

            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;

            if (!regex.test(pwd.value)) {
                alert("Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule et un chiffre.");
                return false;
            }

            if (pwd.value !== vpwd.value) {
                alert("Les mots de passe ne correspondent pas.");
                return false;
            }

            return true;
        }
  </script>
  <style>
    .navbar-nav li a {
      font-size: 14px; 
      margin-right: 10px; 
    }

    .login-form {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
    }

    .login-form input {
      margin-bottom: 5px; 
    }
    
  </style>
</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
    </div>
    <!-- header section strats -->
    <header class="header_section" style="background-color: #00008b;">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/index">
            <span>
              GoTrip
            </span>
          </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/index">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Notre Catalogue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/comparaison">Comparaison des Pays</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/book">Réservation</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section">
    <div class="centre">
      <div class="container" >
        <div class="sign-up">
          {% if value == 0 %}
            <h1>Créer un compte</h1>
            <form action="http://127.0.0.1:5000/formulaire/inscription/mail" method="POST">
                <p style="color: red; display: flex; left: 0%; font-weight: 600;">{{text}}</p>
                <label>Email</label>
                <input type="email" name="email" required>
                <input type="submit" value="vérifier">
            </form>
          {% endif %}

          {% if value == 1 %}
            <h1 style="font-size: 24px;">Créer un mot de passe</h1>
            <form action="http://127.0.0.1:5000/formulaire/inscription/mdp" method="POST" onsubmit="return checkPasswords()">
                <label>Mot de Passe</label>
                <input type="password" name="pwd" id="pwd" required>
                <div class="pwd-icon">
                  <i class="eye-off-pwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/view.png') }}" style="width: 15px; height: 15px;"></i>
                  <i class="eye-pwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/hide.png') }}" style="width: 15px; height: 15px;"></i>
                </div>
                <label>Confirmer le Mot de passe</label>
                <input type="password" name="vpwd" id="vpwd" required>
                <div class="pwd-icon">
                  <i class="eye-off-vpwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/view.png') }}" style="width: 15px; height: 15px;"></i>
                  <i class="eye-vpwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/hide.png') }}" style="width: 15px; height: 15px;"></i>
                </div>
                <input type="submit" value="Envoyer";>
            </form>
          {% endif %}

          {% if value == 2 %}
            <h1>Compléter les informations</h1>
            <form action="http://127.0.0.1:5000/formulaire/inscription/info" method="POST">
              <label>Nom</label>
              <input type="text" name="nom" required>
              <label>Prenom</label>
              <input type="text" name="prenom" required>
              <label>Téléphone</label>
              <input type="tel" name="tel" required>
              <input type="submit" value="Confirmer";>
            </form>
          {% endif %}

          {% if value in [0,1,2] %}
            <hr class="Le0O55_iMmJJKvEaCRdN access-panel__social-divider-line">
            <p style="font-size: smaller;">En créant un compte vous confirmer avoir lu et approuvé les
            <a  href="conditions.html">Conditions / mentions légales.</a></p>
          {% endif %}

          {% if value == 0 %}  
            <hr class="Le0O55_iMmJJKvEaCRdN access-panel__social-divider-line">
            <p style="font-size: smaller;">Si vous avez déja un compte? <a href="http://127.0.0.1:5000/formulaire/inscription/login"> Connectez-vous ici</a></p>
          {% endif %}

          {% if value == 3 %}
            <h1>Félicitation</h1>
            <p>{{ nom }} {{ prenom }},<br> 
            votre inscription à été réalisé avec succès.</p>
            <p style="text-align: center;"><a href="http://127.0.0.1:5000/formulaire/inscription/login"> Cliquer ici pour vous connecter</a></p>
            <br>
            <br>
            <br>
            <br>
          {% endif %}

          {% if value == 4 %}
            <h1>OUPS</h1>
            <p>Une erreur est survenu lors de votre inscription</p>
            <p style="text-align: center;"><a href="http://127.0.0.1:5000/formulaire/inscription/mail"> Cliquer ici pour recommencer</a></p>
            <br>
            <br>
            <br>
            <br>
            <br>
          {% endif %}
          {% if value == 5 %}
            <h1>Se Connecter</h1>
            <form action="http://127.0.0.1:5000/index" method="POST">
              <label>Adresse Email</label>
              <input type="email" name="identifiant" required>
              <label>Mot de Passe</label>
                <input type="password" name="password" id="pwd" required>
                <div class="pwd-icon">
                  <i class="eye-off-pwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/view.png') }}" style="width: 15px; height: 15px;"></i>
                  <i class="eye-pwd"><img class="icon-size icon-hover" src="{{ url_for('static', filename='images/hide.png') }}" style="width: 15px; height: 15px;"></i>
                </div>
              <input type="submit" value="Se Connecter";>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          {% endif %}
            </br>
            </br>
            </br>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
  <footer class="footer_section" style="background-color: #00008b;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Toulouse, France
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  0641424217
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  contact.gotrip@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              GoTrip
            </a>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horaires d'ouverture
          </h4>
          <p>
            Lundi au Samedi
          </p>
          <p>
            8h - 20h
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> <a href="conditions.html">Tout droits déservés </a><br><br>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

<!-- jQery -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->
<script>
  const eyepwd = document.querySelector('.eye-pwd');
  const eyeoffpwd = document.querySelector('.eye-off-pwd');
  const pwdinput = document.getElementById("pwd");
  const eyevpwd = document.querySelector('.eye-vpwd');
  const eyeoffvpwd = document.querySelector('.eye-off-vpwd');
  const vpwdinput = document.getElementById("vpwd");

  eyepwd.addEventListener("click", () => {
  eyepwd.style.display = "none";
  eyeoffpwd.style.display = "block";
  pwdinput.type = "text";
});
  eyeoffpwd.addEventListener("click", () => {
  eyeoffpwd.style.display = "none";
  eyepwd.style.display = "block";
  pwdinput.type = "password";
});
  eyevpwd.addEventListener("click", () => {
  eyevpwd.style.display = "none";
  eyeoffvpwd.style.display = "block";
  vpwdinput.type = "text";
});
  eyeoffvpwd.addEventListener("click", () => {
  eyeoffvpwd.style.display = "none";
  eyevpwd.style.display = "block";
  vpwdinput.type = "password";
});

</script>
  
</body>

</html>
